
<% @events.each do |event, msg|%>
  <p class = 'text-danger'>
  <%= link_to event.creator.username, user_path(event)%> <br>
  <%=link_to event.title, event_path(event) %> <br> 
  <%=link_to event.description, event_path(event) %> <br>Created
  <%= time_ago_in_words(event.created_at)%> ago
    </p>


<% end%>