@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import "bootstrap/scss/bootstrap";

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';

#page-content {
  flex: 1 0 auto;
  background-color: lightgray;
}

html,
body {
  height: 100%;
}

